div(data-role='page', id='root')

div(data-role='page', id='hub')
    !=partial('partials/hub-header')
    div(data-role='content', id='chat')
        form
            fieldset(data-role='fieldcontain')
                label(for='chatinput')='Message:'
                input(type="text", value="")#chatinput
                input(type="submit", value="Chat")#sendchat
    ul#chat(data-role='listview', data-inset='true', data-theme='g')
    
div(data-role='page', id='users')
    !=partial('partials/hub-header')
    p="USERS!"
   
div(data-role='page', id='login-page')
    div(data-role='header')
        h1=title
        
    div(data-role='content', id='login-content')
        form#loginform
            div#loginform
            fieldset(data-role='fieldcontain')
                label(for='nickname')='Nickname:'
                input(type="text", value="")#nickname
            input(type="submit", value="Login")#login
        form#startserver
            div#serverform
            input(type="submit", value="Start Server")#button-startserver
      
div(data-role='page', id='page-options')
    div(data-role='header')
        h1='Options'
    div(data-role='content')
        p='Hello'

div(data-role='page', id='server-hub')
    div(data-role='header')
        h1='Server'
        a(href='#logout', data-icon='delete')#button-logout='Stop Server'
    div(data-role='content')
        p='Hello'
        partial('comment', { collection: comments });
